body {
    background-color: #000000ea;
    font-family: Arial, sans-serif;
    color: antiquewhite;
}

header {
    background: linear-gradient(to right, #4d98ee, #9357c7);
    padding: 20px;
    box-shadow: 0 0 20px rgba(40, 128, 228, 0.7);
    border-radius: 15px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.headerRedirect a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.headerRedirect a:hover {
    background-color: white;
    color: #4d98ee;
}


.profileCard {
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    width: 33%;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 20vh;
    background-color: #eee;
}

.box {
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 200px;
    text-align: center;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}


@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    header {
        text-align: center;
        background-color: #f5f5f5;
    }

    .profileCard {
        width: 80%;
    }
}