body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    color: white;
    padding: 15px;
}

.profileCard {
    background-color: lightslategrey;
    width: 33%;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    header {
        text-align: center;
        background-color: #f5f5f5;
    }

    .profileCard {
        width: 80%;
    }
}